body
{
    margin: 0px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.background-image
{
    min-width: 400px;
    width: 30vw;
    height: 61.7em;
    background-image: url(/home/igor/sign-up-Form/b1b6a16ab431144297332076aa78237d.jpg);
    text-align: center;
}
@font-face {
    font-family: "Fira Sans";
    src: url(/home/igor/sign-up-Form/RubikScribble-Regular.ttf);
}
.goat-text
{
    font-family: "Fira Sans";
    font-size: 5em;
    color: rgb(171, 134, 85)
}
.form-area
{
    display: flex;
    flex-grow: 1;
    background-color: black;
    width: 50em;
    height: 61.7em;
    justify-content: center;
}
form
{
    height: 45em;
    width: 40em;
    display: flex;
    flex-wrap: wrap;
    border-color: whitesmoke;
    border-style: solid;
    align-self: flex-end;
}