body
{
    margin: 0px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.background-image
{
    flex-shrink: 1;
    min-width: 400px;
    width: 30vw;
    height: 61.7em;
    background-image: url(/home/igor/sign-up-Form/b1b6a16ab431144297332076aa78237d.jpg);
    text-align: center;
}
@font-face {
    font-family: "Goat Font";
    src: url(/home/igor/sign-up-Form/RubikScribble-Regular.ttf);
}
@font-face {
    font-family: "Form font";
    src: url(/home/igor/sign-up-Form/FingerPaint-Regular.ttf);
}
.goat-text
{
    font-family: "Goat Font";
    font-size: 5em;
    color: rgb(171, 134, 85)
}
.rigth-screen-area
{
    display: flex;
    flex-direction: column;
    color: white;
    flex-grow: 1;
    background: linear-gradient(45deg,yellow,blue);
    width: 70vw;
    height: 61.7em;
    justify-content: center;
}
.rigth-screen-area h1
{
    font-family:'Times New Roman', Times, serif;
}
.form-area
{
    box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12);
    height: 25em;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-self: center;
    background: linear-gradient(45deg,gold,blue);
    gap: 20px;
    justify-content: space-between;
    align-items: center;
}
form
{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.form-right, .form-left
{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
label
{
    justify-content: space-between;
    font-size: 30px;
    font-family: "Form font";
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.submit-button
{
    padding: 20px;
    color: white;
    font-size: 20px;
    background-color: rgb(171, 134, 85);
    border-color: black;
    border-radius: 5px;
    border-style: solid;
    height: 6em;
    font-family: "Form font"; 
    align-self: center;
}
input
{
    border-color: black;
    border-style: solid;
    height: 2.5em;
    border-radius: 5px;
}
input:not(:focus):not(:placeholder-shown):invalid
{
    border-color: red;
}
input:valid
{
    border-color: green;
    background-color: yellowgreen;
}